GAN/generated_images.png
GAN/loss_plot.png
GAN/__pycache__/model.cpython-38.pyc
GAN/data/MNIST/raw/t10k-images-idx3-ubyte
GAN/data/MNIST/raw/t10k-images-idx3-ubyte.gz
GAN/data/MNIST/raw/t10k-labels-idx1-ubyte
GAN/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
GAN/data/MNIST/raw/train-images-idx3-ubyte
GAN/data/MNIST/raw/train-images-idx3-ubyte.gz
GAN/data/MNIST/raw/train-labels-idx1-ubyte
GAN/data/MNIST/raw/train-labels-idx1-ubyte.gz
